ul {
    list-style: none;
    padding-left: 40;
}

/*
nav{
    float: left;
}*/

.thumbnails {
    left: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}

h1{
    font-family: 'PT Sans', sans-serif;
    padding-top: 10px;
    padding-left: 20px;
}

.thumb{
    height: 300px;
}

.single {
    width: 300px;
    height: 300px;
    border: 5px solid black;
    margin: 10px;
    display: inline-block;
}

body{
    font-family: 'PT Sans', sans-serif;
}

#construction{
    margin-left: 10px;
}

/*
#maps-slide { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#maps-slide > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}*/