ul {
    list-style: none;
    padding-left: 40;
}

/*
nav{
    float: left;
}*/

.thumbnails {
    left: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}

h1{
    font-family: 'PT Sans', sans-serif;
    padding-top: 10px;
    padding-left: 20px;
}

.thumb{
    height: 300px;
}

.page-title{
    text-align: center;
}

.text {
    margin-left: 30%;
    margin-right: 30%;
}

.process{
    width: 400px;
    height: 400px;
    border: 5px solid black;
    margin: 10px;
    display: inline-block;
}

.process-gallery{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.single {
    width: 300px;
    height: 300px;
    border: 5px solid black;
    margin: 10px;
    display: inline-block;
}

.single:hover {
    border: 5px solid gold;
}

.full{
    width: 800px;
    height: 800px;
    border: 5px solid black;
    margin-left: 20%;
    margin-top: 30px;
    margin-right: 30px;
}

.big{
    width: 800px;
    height: 800px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: 'PT Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: gold;
}



#construction{
    margin-left: 10px;
}

.small-single{
    width: 100px;
    height: 100px;
}

.caption{
    margin-left: 20%;
    font-style: italic;
}

.caption-1{
    margin-left: 20%;
    font-style: italic;
    display: none;
}

footer{
    margin: 5% 5% 1% 5%;
    text-align: center;
    font-size: 12;
}

/*
#maps-slide { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#maps-slide > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}*/